body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.company-info-user-container{
    @media screen and (min-width: 576px) and (max-width: 768px) {
        width: 100vw!important;
        flex-direction: column;
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
        width: 100vw!important;
    }
    .company-info-user-detail{
        @media screen and (min-width: 576px) and (max-width: 768px) {
            width: 80vw!important; 
            margin: auto;
        }
        @media screen and (max-width: 576px) {
            width: 80vw !important;
            margin: auto;
            
        }
 
.company-info-user{
    height: 78px;;
       display: flex;
   justify-content: space-between;
   .company-info-user-infor{
       display: flex;
       .company-info-user-infor-name{
           font-size: 16px;
           
       }
       .company-info-user-field{
        border-radius: 3px;
        display: inline-block;
        width: 68px;
        height: 28px;
        color: white;
        background-color: rgb(6, 158, 6);
        padding-left: 4px;
        padding-top: 4px;
        margin-right: 5px;
    }
    
   }
   .company-info-user-type{
    display: inline-block;
    border-radius: 52px;
    width: 75px;
    height: 28px;
    color: rgba(0, 0, 255, 0.636);
    background-color: rgba(0, 0, 255, 0.18);
    padding-left: 16px;
    padding-top: 4px;
    }
}
.company-info-user-skill{
    display: inline-block;
    padding-left: 3px;
    height: 20px; 
    margin-left: 10px;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.258);
    color: green;
}
.company-info-user-language{
    display: inline-block;
    padding-left: 3px;
    height: 20px; 
    margin-left: 10px;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.224);
    color:red;
}
}
}
