@media screen and (min-width: 767px ){
    .job__detail--container{
        width: 1440px !important;
        height: 68px;
       padding: 24px, 60px, 24px, 60px;
       background-color: #F1F2F4;
       font: inter;
       font-size: 14px;
      .job__detail--title{
        display: flex;
        gap:10px;
        padding: 24px 60px ;
      }
    }
    
    .job__detail--content{
        background-color: white;
        width: 1320px;
        height: 1396px;
        // top: 290px;
        padding: 24px 60px 24px 60px;
        left: 60px;
        position: relative;
        
        .job__detail--company{
            display: flex;
            justify-content: space-between;
            .job__detail--company--apply{
                // background-color: red;
                width: 316px;
                height: 56px;
                margin-top: 15px;
               
                margin-left: 40px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
              
                .job__detail--company--apply--delete{
                    width: 66px;
                    height: Hug (56px)px;
                    // padding: 16px 12px 16px 36px;
                    gap: 12px;
                    border-radius: 4px;
                    opacity: 0px;
                    background-color: #dc6367;
                    font-size: 18px;
                    border: none;
                    color: #FFFFFF;
                    // display: flex;
                    margin-left: -104px !important;
                    text-align: center;
                }
                .job__detail--company--apply--apply{
                    width: 316px;
                    height: Hug (56px)px;
                    padding: 16px 32px 16px 90px;
                    gap: 12px;
                    border-radius: 4px;
                    opacity: 0px;
                    background-color: #BC2228;
                    font-size: 18px;
                    border: none;
                    color: #FFFFFF;
                    // display: flex;
                    margin-left: 54px;
                    text-align: center;
                 
                }
            }
            .job__detail--company--Logo{
                display: flex;
                gap: 24px;
              
                .job__detail--company--Logo--name{  
                    padding-top: 10px;
                    
                    .job__detail--company--Logo--name--address{
                        display: flex;
                        gap: 10px;
                        padding-top: 10px;
                        color: #767F8C;
                       
            
                    }
                }
            }
        }
        .job__detail--description{
            margin-top: 32px;
            display: flex;
            width: 1320px;
            gap: 24px;
            .job__detail--description--title{
                width: 630px;
                height: 1268px;
                color: #5E6670;
                text-align: left;
                p{
                    margin-bottom: 16px;
                }
                ul{
                    list-style-type: disc;
                    li{
                        margin-left: 20px;
                        margin-bottom: 6px;
                    }
                }
            }
            .job__detail--description--details{
                width: 550px;
                height: 160px;
                border: 2px #E7F0FA solid;
                border-radius: 8px;
                display: flex;
               justify-content: space-around;
               align-items: center;
             
               
            }
            .job__detail--description--overview{
                margin-top: 32px;
                width: 550px;
                height: 278px;
                border: 2px #E7F0FA solid;
                border-radius: 8px 8px 0px 0px;
                padding: 32px;
                // display: flex;
                // justify-content: space-around;
                // align-items: center;
                
            }
            .job__detail--description--Share{
                width: 550px;
                height: 178px;
                border: 2px #E7F0FA solid;
                border-radius: 0px 0px 8px 8px;
                padding: 32px;
            }
        }
       
    }
    .job__detail--Relatedjob{
        width: 1440px;
        height: auto;
        padding: 100px;
        // background-color: #F1F2F4;
        border-top: 2px #E7F0FA solid;
        .job__detail--Relatedjob--content{
            left: 60px;
            // background-color: #BC2228;
        width: 1320px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        height: auto;
        margin-top: 40px;
        .job__detail--Relatedjob--content--item{
            width: 415px;
            height: 270px;
            border: 1px #E7F0FA solid;
            border-radius: 8px;
            padding: 12px;
        }
        }
        
    }
    // /modal css
    .customOkButton {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: #BC2228;
        color: white;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        &:hover {
            color: #5d1616 !important; // Thay đổi màu chữ khi hover
            background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
            border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
        }
       
      }
      .customCancelBtn {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: white;
        color: #BC2228;
        border-radius: 5px;
        border: 1px solid #BC2228;
        margin-right: 10px;
            &:hover {
                color: #5d1616 !important; // Thay đổi màu chữ khi hover
                background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
                border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
            }
      }
}
@media screen and (min-width: 576px ) and (max-width: 766px ) {
     .job__detail--container{
        width: 100vw !important;
        height: 68px  !important;
       padding: 24px, 60px, 24px, 60px  !important;
       background-color: #F1F2F4;
       font: inter;
       font-size: 14px  !important;
      .job__detail--title{
        display: flex;
        gap:10px;
        padding: 24px 60px ;
      }
    }
    
    .job__detail--content{
        background-color: white;
        width: 1320px;
        height: 1396px;
        // top: 290px;
        padding: 24px 60px 24px 60px;
        left: 60px;
        position: relative;
        
        .job__detail--company{
            display: flex;
            justify-content: space-between;
            .job__detail--company--apply{
                // background-color: red;
                width: 316px;
                height: 56px;
                margin-top: 15px;
               
                margin-left: 40px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
              
                
                .job__detail--company--apply--apply{
                    width: 216px;
                    height: Hug (56px)px;
                    padding: 16px 32px 16px 90px;
                    gap: 12px;
                    border-radius: 4px;
                    opacity: 0px;
                    background-color: #BC2228;
                    font-size: 18px;
                    border: none;
                    color: #FFFFFF;
                    // display: flex;
                    margin-left: 94px !important;
                    text-align: center;
                 
                }
            }
            .job__detail--company--Logo{
                display: flex;
                gap: 24px;
              
                .job__detail--company--Logo--name{  
                    padding-top: 10px;
                    
                    .job__detail--company--Logo--name--address{
                        display: flex;
                        gap: 10px;
                        padding-top: 10px;
                        color: #767F8C;
                        font-size: 14px;
                       .content{
                        margin-left: -45px;
                       }
            
                    }
                }
            }
        }
        .job__detail--description{
            margin-top: 32px;
            display: flex;
            width: 1320px;
            gap: 24px;
            .job__detail--description--title{
                width: 630px;
                height: 1268px;
                color: #5E6670;
                text-align: left;
                p{
                    margin-bottom: 16px;
                }
                ul{
                    list-style-type: disc;
                    li{
                        margin-left: 20px;
                        margin-bottom: 6px;
                    }
                }
            }
            .job__detail--description--details{
                width: 550px;
                height: 160px;
                border: 2px #E7F0FA solid;
                border-radius: 8px;
                display: flex;
               justify-content: space-around;
               align-items: center;
             
               
            }
            .job__detail--description--overview{
                margin-top: 32px;
                width: 550px;
                height: 278px;
                border: 2px #E7F0FA solid;
                border-radius: 8px 8px 0px 0px;
                padding: 32px;
                // display: flex;
                // justify-content: space-around;
                // align-items: center;
                
            }
            .job__detail--description--Share{
                width: 550px;
                height: 178px;
                border: 2px #E7F0FA solid;
                border-radius: 0px 0px 8px 8px;
                padding: 32px;
            }
        }
       
    }
    .job__detail--Relatedjob{
        width: 1440px;
        height: auto;
        padding: 100px;
        // background-color: #F1F2F4;
        border-top: 2px #E7F0FA solid;
        .job__detail--Relatedjob--content{
            left: 60px;
            // background-color: #BC2228;
        width: 1320px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        height: auto;
        margin-top: 40px;
        .job__detail--Relatedjob--content--item{
            width: 415px;
            height: 270px;
            border: 1px #E7F0FA solid;
            border-radius: 8px;
            padding: 12px;
        }
        }
        
    }
    // /modal css
    .customOkButton {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: #BC2228;
        color: white;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        &:hover {
            color: #5d1616 !important; // Thay đổi màu chữ khi hover
            background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
            border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
        }
       
      }
      .customCancelBtn {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: white;
        color: #BC2228;
        border-radius: 5px;
        border: 1px solid #BC2228;
        margin-right: 10px;
            &:hover {
                color: #5d1616 !important; // Thay đổi màu chữ khi hover
                background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
                border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
            }
      }
}
@media screen and (max-width: 576px ) {
    .job__detail--container{
        width: 100vw !important;
        height: 68px  !important;
       padding: 24px, 60px, 24px, 60px  !important;
       background-color: #F1F2F4;
       font: inter;
       font-size: 14px  !important;
      .job__detail--title{
        display: flex;
        gap:10px;
        padding: 24px 60px ;
      }
    }
    
    .job__detail--content{
        background-color: white;
        width: 90vw!important;
        height: auto;
        // top: 290px;
        padding: 24px 60px 24px 60px;
        left: 60px;
        position: relative;
        
        .job__detail--company{
            display: flex;
            // justify-content: space-between;
            
            .job__detail--company--apply{
                // background-color: red;
                width: 316px;
                height: 56px;
                margin-top: 15px;
               
                margin-left: 40px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
              
                
                .job__detail--company--apply--apply{
                    width: 216px;
                    height: Hug (56px)px;
                    padding: 16px 32px 16px 90px;
                    gap: 12px;
                    border-radius: 4px;
                    opacity: 0px;
                    background-color: #BC2228;
                    font-size: 14px;
                    border: none;
                    color: #FFFFFF;
                    // display: flex;
                    margin-left: 53px !important;
                    text-align: center;
                 
                }
            }
            .job__detail--company--Logo{
                display: flex;
                gap: 24px;
              
                .job__detail--company--Logo--name{  
                    padding-top: 10px;
                    
                    .job__detail--company--Logo--name--address{
                        display: flex;
                        gap: 10px;
                        padding-top: 10px;
                        color: #767F8C;
                        font-size: 14px;
                       .content{
                        margin-left: -20px;
                       }
            
                    }
                }
            }
        }
        .job__detail--description{
            margin-top: 32px;
            display: flex;
            width: 90vw!important;
            gap: 24px;
            .job__detail--description--title{
                width: 630px;
                height: 1268px;
                color: #5E6670;
                text-align: left;
                p{
                    margin-bottom: 16px;
                }
                ul{
                    list-style-type: disc;
                    li{
                        margin-left: 20px;
                        margin-bottom: 6px;
                    }
                }
            }
            .job__detail--description--details{
                width: 550px;
                height: 160px;
                border: 2px #E7F0FA solid;
                border-radius: 8px;
                display: flex;
               justify-content: space-around;
               align-items: center;
             
               
            }
            .job__detail--description--overview{
                margin-top: 32px;
                width: 550px;
                height: 278px;
                border: 2px #E7F0FA solid;
                border-radius: 8px 8px 0px 0px;
                padding: 32px;
                // display: flex;
                // justify-content: space-around;
                // align-items: center;
                .item{
                    width: 100px;
                    height: 60px;
                    margin-bottom: 30px;
                }
                
            }
            .job__detail--description--Share{
                width: 550px;
                height: 178px;
                border: 2px #E7F0FA solid;
                border-radius: 0px 0px 8px 8px;
                padding: 32px;
            }
        }
       
    }
    .job__detail--Relatedjob{
        width: 1440px;
        height: auto;
        padding: 100px;
        // background-color: #F1F2F4;
        border-top: 2px #E7F0FA solid;
        .job__detail--Relatedjob--content{
            left: 60px;
            // background-color: #BC2228;
        width: 90vw!important;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        height: auto;
        margin-top: 40px;
        .job__detail--Relatedjob--content--item{
            width: 42vw!important;
            height: auto!important;
            border: 1px #E7F0FA solid;
            border-radius: 8px;
            padding: 12px;
            .Technical-skills{
                font-size: 12px!important;
                .skill{
                    width: 70px!important;
                }
            }
            .img{
                width: 48px!important;
                // height: 48px!important;
            }
            .language{
                font-size: 12px!important;
            }
        }
        }
        
    }
    // /modal css
    .customOkButton {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: #BC2228;
        color: white;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        &:hover {
            color: #5d1616 !important; // Thay đổi màu chữ khi hover
            background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
            border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
        }
       
      }
      .customCancelBtn {
        width: 150px;
        height: 40px;
        padding: 5px 20px;
        background-color: white;
        color: #BC2228;
        border-radius: 5px;
        border: 1px solid #BC2228;
        margin-right: 10px;
            &:hover {
                color: #5d1616 !important; // Thay đổi màu chữ khi hover
                background-color: #ff4d4f !important; // Thay đổi màu nền khi hover
                border-color: #ff4d4f !important; // Thay đổi màu viền khi hover
            }
      }
      .ant-modal {
        /* Thay đổi chiều rộng của modal */
        width: 100vw !important; /* Sử dụng !important để đảm bảo ghi đè */
        
       
      }
}

