:root {
  --primary: rgba(188, 34, 40, 1);
  --secondary: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(93, 90, 111, 1);
  --dark-blue: rgba(10, 3, 60, 1);
  --line-gadient: linear-gradient(
    rgba(10, 3, 60, 0),
    rgba(10, 3, 60, 1),
    rgba(10, 3, 60, 0)
  );
}
html,
body {
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.detail_CV {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: visible;
  top: 0;
  left: 0;
  img {
    width: 35%;
    // height: 30%;
  }
  button{
    width: 35%;
    height: 5%;
    background-color: brown;
    color: #fff;
    font-size: 0.5rem;
    border: none;
    border-radius: 5px;
  }
}
.allUserApply__formsearch {
  width: 100%;
  margin-left: 3vw;
}
.allUserApply__container {
  width: 100vw;
  height: 600px;
  .allUserApply__header {
    width: 100%;
    height: 68px;
    padding: 24px 60px 24px 60px;
    display: flex;
    gap: 1vw;
    align-items: center;
    background-color: rgba(241, 242, 244, 1);
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(118, 127, 140, 1);
    }
    .informationUser__nav__name {
      color: #000;
    }
  }
  .allUserApply__container {
    width: 100%;
    display: flex;
    height: 100%;
    .allJobApply__content {
      width: 20%;
      height: 88%;
      background-color: #f7f7f7;
      padding: 24px 5px 5px 5px ;
      .allJobApply__content__headerTable {
        width: 100%;
        background-color: #f7f7f7;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid rgba(118, 127, 140, 0.6);
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
      }
      .allJobApply__content__bodyTable{
        width: 100%;
        overflow-x: hidden;
        height: 88%;
        .allJobApply__content__bodyTable__item{
          padding: 1rem;
          width: 100%;
         border-bottom: 1px solid silver;
         border-radius: 1rem;
         transition: 0.5s;
         cursor: pointer;
          p{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1rem;
          }
          p:nth-child(1){
            font-size: 18px;
            font-weight: 600;
          }
          p:nth-child(2){
            font-size: 14px;
          }
        }
        .allJobApply__content__bodyTable__item:hover{
          background-color: rgba(192, 192, 192, 0.443);
        }
        
      }
      .allJobApply__content__bodyTable:hover > :not(:hover){
        opacity: 0.3;
      }
    }
    .allUserApply__content {
      width: 80%;
      padding: 24px ;
      height: 400px;
      overflow: hidden;
      .allUserApply__content__headerTable {
        width: 100%;
        background-color: #f7f7f7;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .column {
          width: 15%;
          text-align: center;
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .allUserApply__content__bodyTable {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        .allUserApply__content__bodyTable__item {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          height: 4vw;
          .column {
            width: 15%;
            text-align: center;
            p {
              font-size: 14px;
              font-weight: 600;
            }
            a {
              font-size: 14px;
              font-weight: 600;
            }
          }
         
          .allUserApply__content__bodyTable__item__active {
              display: flex;
              align-items: center;
              justify-content: center;

              .allUserApply__content__bodyTable__item__active__btn {
                  width: 7vw;
                  height: 40px;
                  background-color: var(--primary);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 1vw;
                  font-weight: 500;
                  line-height: 30px;
                  color: #fff;
                  border-radius: 5px;
                  border: none;
                  cursor: pointer;
                  user-select: none;
                  position: relative;
                  isolation: isolate;
                  overflow: hidden;
                  &:hover::before {
                    left: auto;
                    right: 0;
                    width: 100%;
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: auto;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background-color: #fff;
                    opacity: 0.1;
                    z-index: -1;
                    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                  }
              }
              .btngreen {
                  background-color: #00B74A;
              }
            
          }
        }
      }
    }
  }
  

}
