.updatePassword{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    height: auto;
    justify-content: center;
    label{
        font-size: 20px;
        margin-top: 2vw;
        margin-bottom: 0.5vw;
    }
    input{
        width: 100%;
        height: 40px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        &:focus{
            outline: none;
        }
    }
}