body::-webkit-scrollbar {
  display: none;
}
.company__register__container {
  padding-left: 62.5px;
  padding-top: 20.06px;
  /* logo */
  .logo {
    width: 200px;
    height: 67.6px;
    margin-left: 2.8vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  /* end logo */

  /* main */
  .company__register {
    width: 90vw;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;

    .company__register__form--left {
      width: 30%;
      height: 100%;

      .company__register-form-content {
        width: 100%;
        height: 106px;
        font-size: 2vw;
        font-weight: 700;
        line-height: 40px;
      }

      .company__register-form-input {
        width: 85%;
        height: 472.75px;
        margin-top: 0px;
        .error{
          color: red;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          padding-left: 20px;
        }

        .company__register-infor__Account {
          width: 100%;
          height: 40px;
          border-left: 10px solid var(--primary);
          font-size: 24px;
          font-weight: 700;
          padding: 8px 25.42px;
          display: flex;
          align-items: center;
        }
        .company__register-input__email {
          width: 100%;
          height: 108.5px;
          
        }

        .company__register-input__password {
          margin-top: -20px;
          .company__register-input__password-wrapper {
            position: relative;
            .togglePasswordVisibility {
              position: absolute;
              top: 50%;
              right: 20.8px;
              transform: translateY(-50%);
              cursor: pointer;
            }
          }
        }
        .company__register-input__confirmPassword {
          .company__register-confirmPassword-input-wrapper {
            position: relative;
            .togglePasswordVisibility {
              position: absolute;
              top: 50%;
              right: 20.8px;
              transform: translateY(-50%);
              cursor: pointer;
            }
          }
        }
      }
    }

    label {
      width: 61.01px;
      height: 43.5px;
      font-size: 16px;
      font-weight: 500px;
      padding: 10px;
      line-height: 30px;
    }
    input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(222, 221, 228, 1);
      border-radius: 5px;
      padding: 13px 29.47px;
      font-size: 14px;
      font-weight: 400px;
      line-height: 30px;
      display: flex;
      align-items: center;
    }
    .line {
      width: 1.45px;
      height: 60%;
      background: linear-gradient(
        to bottom,
        rgba(10, 3, 60, 0),
        rgba(10, 3, 60, 1),
        rgba(10, 3, 60, 0)
      );
    }
    .company__register__form--right {
      height: 600px;
      width: 30%;
      margin-top: 68px;

      .company__register-form-input {
        width: 85%;
        height: 472.75px;
        margin-top: 60.43px;
        .error{
          color: red;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          padding-left: 20px;
        }
        .company__register-infor__company {
          width: 100%;
          height: 40px;
          border-left: 10px solid var(--primary);
          font-size: 24px;
          font-weight: 700;
          padding: 8px 25.42px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  /* end main */

  /* btn */
  .btn {
    width: 100%;
    height: 65px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin-top: -8vw;
    margin-left: 50px;
    &:hover::before {
      left: auto;
      right: 0;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
      opacity: 0.1;
      z-index: -1;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  .btn--registerCompany {
    width: 474.95px;
    left: 30%;
  }
  /* end btn */

  /* footer register */
  .company__register-input__footer {
    // margin-top: 22.91px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3vw;
    .company__register-input__footer--forgot {
      display: flex;
      cursor: pointer;
      justify-content: center; /* Căn giữa theo chiều ngang */
      margin-top: 10px;
      margin-left: -100px; /* Khoảng cách giữa span và div bên dưới */
    }

    .company__register-input__footer--register {
      .company__register-input__footer--text {
        margin-right: 4px;
        margin-left: -100px; /* Khoảng cách giữa các span bên trong div */
      }
      .company__register-input__footer--register--Nav {
        color: var(--primary);
        cursor: pointer;
      }
    }
  }
  /* end footer register */

  .admin_input {
    margin-top: -40px;
  }
}

/* Reponsive */
/* Mobile */
@media only screen and (max-width: 576px) {
  .company__register__container {
    // width: 100vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      margin-top: 0px;
    }
    .company__register {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .company__register__form--left {
        width: 100%;
        margin-top: 60vw;
        .company__register-form-content {
          font-size: 16px;
          line-height: 20px;
          line-break: auto;
          text-align: center;
        }
        .company__register-form-input {
          margin-top: -50px;

          margin-left: 10vw;
          input {
            width: 75vw;
          }
          .company__register-infor__Account {
            font-size: 14px;
            border-left: 5px solid var(--primary);
            height: 20px;
          }
        }
      }
      .line {
        display: none;
      }
      .company__register__form--right {
        width: 100%;
        margin-top: -220px;
        margin-left: 20vw;

        .company__register-form-input {
          input {
            width: 75vw;
          }
          .company__register-infor__company {
            font-size: 14px;
            border-left: 5px solid var(--primary);
            height: 20px;
          }
        }
      }
    }
    .btn--registerCompany {
      margin-top: 100px;
      margin-right: 350px;
      width: 300px;
    }
    .company__register-input__footer {
      margin-right: -20vw;
    }
  }
}

/* Ipad */
@media only screen and (min-width: 577px) and (max-width: 769px) {
  .company__register__container {
    width: 100vw;
    padding-left: 0vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      margin-top: 0px;
    }
    .company__register {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .company__register__form--left {
        margin-top: 300px;
        width: 100%;
        .company__register-form-content {
          font-size: 16px;
          line-height: 20px;
          line-break: auto;
          text-align: center;
        }
        .company__register-form-input {
          margin-top: -50px;
          margin-left: 20vw;
          input {
            width: 85vw;
          }
          .company__register-infor__Account {
            font-size: 14px;
            border-left: 5px solid var(--primary);
            height: 20px;
          }
        }
      }
      .line {
        display: none;
      }
      .company__register__form--right {
        width: 768px;
        margin-top: -150px;
        margin-left: 300px;

        .company__register-form-input {
          input {
            width: 85vw;
          }
          .company__register-infor__company {
            font-size: 14px;
            border-left: 5px solid var(--primary);
            height: 20px;
          }
        }
      }
    }
    .btn--registerCompany {
      margin-top: 200px;
      margin-right: 360px;
      width: 300px;
    }
    .company__register-input__footer {
      width: 60%;
      margin-left: 260px;
    }
  }
}

/* end Reponsive */
