:root {
    --primary: rgba(188, 34, 40, 1);
    --secondary: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(93, 90, 111, 1);
    --dark-blue: rgba(10, 3, 60, 1);
    --line-gadient: linear-gradient(
      rgba(10, 3, 60, 0),
      rgba(10, 3, 60, 1),
      rgba(10, 3, 60, 0)
    );
  }
  /* Tùy chỉnh màu nền khi Switch được bật và thanh trượt ở bên phải */
.custom-switch-checked {
  background-color: #4caf50 !important; /* Màu xanh */
}

/* Tùy chỉnh nút trượt của Switch khi được bật */
.custom-switch-checked .ant-switch-handle {
  left: calc(100% - 26px - 2px); /* Di chuyển thanh trượt sang phải */
}
  html,
  body {
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .allJobAdmin__formsearch {
    width: 100%;
    margin-left: 3vw;
  }
  .allJobAdmin__container {
    width: 100%;
    height: 100vh;
    .allJobAdmin__header {
      width: 100%;
      height: 68px;
      padding: 24px 60px 24px 60px;
      display: flex;
      gap: 1vw;
      align-items: center;
      background-color: rgba(241, 242, 244, 1);
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(118, 127, 140, 1);
      }
      .informationJob__nav__name {
        color: #000;
      }
    }
    .allJobAdmin__content {
      width: 100%;
      .allJobAdmin__content__headerTable {
        width: 100%;
        background-color: #f7f7f7;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .column {
          width: 10%;
          text-align: center;
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .allJobAdmin__content__bodyTable {
        width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1vw;
        .allJobAdmin__content__bodyTable__item {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          height: 4vw;
          .column {
            width: 15%;
            text-align: center;
            p {
              font-size: 14px;
              font-weight: 600;
            }
            a {
              font-size: 14px;
              font-weight: 600;
            }
          }
          .allJobAdmin__content__headerTable__time {
            display: flex;
            height: 3vw;
            padding: 0 2vw;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1vw;
            border: 1px solid rgba(221, 221, 221, 1);
            border-radius: 8px;
          }
          .allJobAdmin__content__headerTable__salary {
            display: flex;
            justify-content:center;
            font-size: 0.9vw;
            padding: 0 2vw;
          }
          
          .allJobAdmin__content__bodyTable__item__active__btn {
              display: flex;
              align-items: center;
              justify-content: center;
            cursor: pointer;
            .toggle-input {
              display: none;
              &:checked + {
                .toggle-bar {
                  background-color: #1dc071;
                  .toggle-spin {
                    transform: translateX(35px);
                  }
                }
              }
            }
            .toggle-bar {
              width: 5vw;
              height: 40px;
              background-color: #cbd5e1;
              border-radius: 5rem;
              padding: 5px;
              transition: background-color 0.2s linear;
              .toggle-spin {
                  width: 2vw;
                  height: 2vw;
                  border-radius: 100rem;
                  background-color: #fff;
                  transition: transform 0.2s linear;
                }
            }
            
            
          }
        }
      }
    }
  }
  