.admin__register__container {
  padding-left: 62.5px;
  padding-top: 20.06px;
  /* logo */
  .logo {
    width: 200px;
    height: 67.6px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  /* end logo */

  /* main */
  .admin__register {
    width: 100vw;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .admin__register__form {
      width: 486.54px;
      height: 100%;

      .admin__register-form--content {
        width: 100%;
        height: 106px;
        font-weight: 700;
        line-height: 40px;
      }

      .admin__register-form--input {
        width: 100%;
        height: 472.75px;
        margin-top: -40px;
        .admin__register-input__email {
          width: 100%;
          height: 108.5px;
        }
        .admin__register-input__password {
          margin-top: -20px;
        }

        .admin__register-password-input-wrapper {
          position: relative;
          .togglePasswordVisibility {
            position: absolute;
            top: 50%;
            right: 20.8px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }

      .btn {
        width: 100%;
        height: 65px;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        border-radius: 5px;
        border: none;
        margin-top: 37.06px;
        cursor: pointer;
        user-select: none;
        position: relative;
        isolation: isolate;
        overflow: hidden;

        &:hover::before {
          left: auto;
          right: 0;
          width: 100%;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: auto;
          top: 0;
          height: 100%;
          width: 0;
          background-color: #fff;
          opacity: 0.1;
          z-index: -1;
          transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }

      .admin__register-input__footer {
        margin-top: 22.91px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: var(--gray);
        display: flex;
        flex-direction: column;
        align-items: center;

        .admin__register-input__footer--forgot {
          display: flex;
          cursor: pointer;
          justify-content: center; /* Căn giữa theo chiều ngang */
          margin-top: 10px; /* Khoảng cách giữa span và div bên dưới */
        }

        .admin__register-input__footer--register {
          .admin__register-input__footer--register--text {
            margin-right: 4px; /* Khoảng cách giữa các span bên trong div */
          }
          .admin__register-input__footer--register--Nav {
            color: var(--primary);
            cursor: pointer;
          }
        }
      }
    }
    label {
      width: 61.01px;
      height: 43.5px;
      font-size: 16px;
      font-weight: 500px;
      padding: 10px;
      line-height: 30px;
    }
    input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(222, 221, 228, 1);
      border-radius: 5px;
      padding: 13px 29.47px;
      font-size: 14px;
      font-weight: 400px;
      line-height: 30px;
      display: flex;
      align-items: center;
    }

    .line {
      width: 1.45px;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(10, 3, 60, 0),
        rgba(10, 3, 60, 1),
        rgba(10, 3, 60, 0)
      );
    }

    .image {
      height: 600px;
      width: 600px;

      img {
        width: 500px;
        height: 500px;
        margin-left: -100px;
      }
    }
  }
  /* end main */
}

/* Reponsive */
/* Mobile */
@media only screen and (max-width: 576px) {
  .admin__register__container {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      margin-top: 80px;
    }
    .admin__register {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .admin__register-form--content {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        p {
          line-break: auto;
        }
      }
      .admin__register-form--input {
        
        margin-top: 0px;
        .btn {
          width: 60%;
          margin-left: 100px;
        }
      }
      .line, .image {
        display: none;
      }

    }
    
  }
  
}

/* Ipad */
@media only screen and (min-width: 577px) and (max-width:769px) {
  .admin__register__container {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      margin-top: 80px;
    }
    .admin__register {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .admin__register-form--content {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        p {
          line-break: auto;
        }
      }
      .admin__register-form--input {
        
        margin-top: 0px;
        .btn {
          width: 60%;
          margin-left: 100px;
        }
      }
      .line, .image {
        display: none;
      }

    }
    
  }
}

/* end Reponsive */
