body::-webkit-scrollbar {
  display: none;
}
.informationUser__navbar2 {
  width: 100vw;
  height: 48px;
  padding: 0px 30px 0px 30px;

  .informationUser__navbar__contain {
    width: 280px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .informationUser__navbar__item {
      height: 48px;
      text-decoration: none;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: #5e6670;
      display: flex;
      align-items: center;
    }
    .informationUser__navbar__item:hover {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }
}
.informationUser__navbar1 {
  width: 100%;
  height: 68px;
  padding: 0px 30px 0px 65px;
  background-color: #f1f2f4;
  .informationUser__navbar__contain {
    width: 150px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .informationUser__navbar__item {
      height: 48px;
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #767f8c;
      display: flex;
      align-items: center;
    }
    .informationUser__navbar__item:hover {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }
}
@media screen and (min-width: 768px) {
  .informationUser__navbar2 {
    width: 100vw;
    height: 48px;
    padding: 0px 30px 0px 30px;

    .informationUser__navbar__contain {
      width: 280px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #5e6670;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__navbar1 {
    width: 100vw;
    height: 68px;
    padding: 0px 30px 0px 65px;
    background-color: #f1f2f4;
    .informationUser__navbar__contain {
      width: 150px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #767f8c;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__contain {
    width: 100vw;
    height: auto;
    background-color: #f1f2f4;
    padding: 30px 30px 30px 30px;
    display: flex;
    gap: 80px;
    .informationUser__contain__left {
      width: 534px;
      height: 833px;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 20px 30px 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 2px 2px #cccccc;
      gap: 30px;
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
        height: 58px;
      }
      .informationUser__contain__left__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        overflow: hidden;
        .informationUser__contain__left__item {
          overflow: hidden;
          // position: absolute;
          width: 100%;
          height: 58px;
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 29px 0px 29px 0px;
          p {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: #5e6670;
            display: inline;
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: #bc2228;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .informationUser__contain__left__updateCV {
        width: 100%;
        display: flex;
      }
      .informationUser__contain__left__button {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          width: 248px;
          height: 56px;
          background-color: #bc2228;
          line-height: 24px;
          font-weight: 600;
          border: none;
          font-size: 16px;
          font-weight: 800;
          line-height: 20px;
          color: #ffffff;
        }
      }
      .informationUser__contain__left__buttonNone {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          width: 248px;
          height: 56px;
          background-color: #a6a6a6;
          line-height: 24px;
          font-weight: 600;
          border: none;
          font-size: 16px;
          font-weight: 800;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
    .informationUser__contain__right {
      width: 848px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 8px;

      // background-color:aqua;
      .informationUser__contain__right__infor {
        position: relative;
        width: 100%;
        height: 245px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        display: flex;
        padding: 30px 30px 30px 30px;
        .informationUser__infor {
          width: 510px;
          height: 194px;
          padding: 24px 24px 24px 30px;
          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #000000;
          }
          .informationUser__infor__list {
            padding: 10px;
            width: 100%;
            height: 95px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            p {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            span {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
      .informationUser__contain__right__item {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        position: relative;
        padding: 30px 30px 30px 30px;
        img {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          color: #000000;
        }
        .informationUser__contain__right__item__miniitem {
          width: 100%;
          height: 22vh;
          margin-top: 20px;
          border-top: 1px solid #dedede;
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding-top: 20px;
          .informationUser__contain__right__item__miniitem__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            img {
              position: absolute;
              right: 30px;
              top: 0px;
              width: 20px;
              height: 20px;
            }
            .informationUser__contain__right__item__miniitem__action {
              display: flex;
              gap: 1vw;
              align-items: center;
              span {
                cursor: pointer;
              }
            }
          }
          .informationUser__contain__right__item__miniitem__position {
            width: 100%;
            font-size: 1.7vw;
          }
          .informationUser__contain__right__item__miniitem__nameSchool {
            width: 100%;
            font-size: 1.2vw;
            font-weight: 500;
            color: #414244;
          }
          .informationUser__contain__right__item__miniitem__time {
            width: 100%;
            font-size: 0.8vw;
            color: rgb(136, 133, 133);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 512px) and (max-width: 767px) {
  .informationUser__navbar2 {
    width: 100vw;
    height: 48px;
    padding: 0px 30px 0px 30px;

    .informationUser__navbar__contain {
      width: 280px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #5e6670;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__navbar1 {
    width: 100vw;
    height: 68px;
    padding: 0px 30px 0px 65px;
    background-color: #f1f2f4;
    .informationUser__navbar__contain {
      width: 150px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #767f8c;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__contain {
    width: 100vw;
    // height: 1627px;
    background-color: #f1f2f4;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .informationUser__contain__left {
      width: 100%;
      // height: 833px;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 20px 30px 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 2px 2px #cccccc;
      gap: 30px;
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
        height: 58px;
      }
      .informationUser__contain__left__list {
        // padding: 15px 0px 15px 0px;
        width: 100%;
        display: flex;
        height: 380px;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        overflow: hidden;
        .informationUser__contain__left__item {
          width: 100%;
          height: 58px;
          display: flex;
          align-items: center;
          padding: 29px 0px 29px 0px;
          // background-color: antiquewhite;
          p {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: #5e6670;
            display: inline;
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: #bc2228;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .informationUser__contain__left__updateCV {
        width: 100%;
        display: flex;
      }
      .informationUser__contain__left__button {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          width: 248px;
          height: 56px;
          background-color: #bc2228;
          line-height: 24px;
          font-weight: 600;
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
    .informationUser__contain__right {
      width: 100%;
      height: 1526px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 8px;

      // background-color:aqua;
      .informationUser__contain__right__infor {
        position: relative;
        width: 100%;
        height: 245px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        display: flex;
        padding: 30px 30px 30px 30px;
        .informationUser__infor {
          width: 510px;
          height: 194px;
          padding: 24px 24px 24px 30px;
          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #000000;
          }
          .informationUser__infor__list {
            padding: 10px;
            width: 80%;
            height: 95px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            p {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            span {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
      .informationUser__contain__right__item {
        width: 100%;
        height: 146px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        position: relative;
        padding: 30px 30px 30px 30px;
        img {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          color: #000000;
        }
        input {
          width: 90%;
          font-size: 18px;
          border: none;
        }
        input::placeholder {
          color: #767f8c80;
        }
      }
    }
  }
}
@media screen and (max-width: 512px) {
  .informationUser__navbar2 {
    width: 100vw;
    height: 48px;
    padding: 0px 30px 0px 30px;

    .informationUser__navbar__contain {
      width: 280px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #5e6670;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__navbar1 {
    width: 100vw;
    height: 68px;
    padding: 0px 30px 0px 65px;
    background-color: #f1f2f4;
    .informationUser__navbar__contain {
      width: 150px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .informationUser__navbar__item {
        height: 48px;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #767f8c;
        display: flex;
        align-items: center;
      }
      .informationUser__navbar__item:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  .informationUser__contain {
    width: 100vw;
    // height: 1627px;
    background-color: #f1f2f4;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .informationUser__contain__left {
      width: 100%;
      // height: 833px;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 20px 30px 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 2px 2px #cccccc;
      gap: 30px;
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
        height: 58px;
      }
      .informationUser__contain__left__list {
        // padding: 15px 0px 15px 0px;
        width: 100%;
        display: flex;
        height: 380px;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        overflow: hidden;
        .informationUser__contain__left__item {
          width: 100%;
          height: 58px;
          display: flex;
          align-items: center;
          padding: 29px 0px 29px 0px;
          // background-color: antiquewhite;
          p {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: #5e6670;
            display: inline;
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: #bc2228;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .informationUser__contain__left__updateCV {
        width: 100%;
        display: flex;
      }
      .informationUser__contain__left__button {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          width: 248px;
          height: 56px;
          background-color: #bc2228;
          line-height: 24px;
          font-weight: 600;
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
    .informationUser__contain__right {
      width: 100%;
      height: 1526px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 8px;

      // background-color:aqua;
      .informationUser__contain__right__infor {
        position: relative;
        width: 100%;
        height: 245px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        display: flex;
        padding: 30px 30px 30px 30px;
        .informationUser__infor {
          width: 510px;
          height: 194px;
          padding: 24px 24px 24px 30px;
          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #000000;
          }
          .informationUser__infor__list {
            padding: 10px;
            width: 80%;
            height: 95px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            p {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            span {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
      .informationUser__contain__right__item {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        position: relative;
        padding: 30px 30px 30px 30px;
        .informationUser__contain__right__item__contentInfor {
          height: 200px;
        }
        img {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
  .informationUser__contain {
    width: 100vw;
    // height: 1627px;
    background-color: #f1f2f4;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .informationUser__contain__left {
      width: 100%;
      // height: 833px;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 20px 30px 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 2px 2px #cccccc;
      gap: 30px;
      p {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
        height: 58px;
      }
      .informationUser__contain__left__list {
        // padding: 15px 0px 15px 0px;
        width: 100%;
        display: flex;
        height: 380px;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        overflow: hidden;
        .informationUser__contain__left__item {
          width: 100%;
          height: 58px;
          display: flex;
          align-items: center;
          padding: 29px 0px 29px 0px;
          // background-color: antiquewhite;
          p {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: #5e6670;
            display: inline;
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: #bc2228;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .informationUser__contain__left__updateCV {
        width: 100%;
        display: flex;
      }
      .informationUser__contain__left__button {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          width: 248px;
          height: 56px;
          background-color: #bc2228;
          line-height: 24px;
          font-weight: 600;
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
    .informationUser__contain__right {
      width: 100%;
      height: 1526px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 8px;

      // background-color:aqua;
      .informationUser__contain__right__infor {
        position: relative;
        width: 100%;
        height: 245px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        display: flex;
        padding: 30px 30px 30px 30px;
        .informationUser__infor {
          width: 510px;
          height: 194px;
          padding: 24px 24px 24px 30px;
          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #000000;
          }
          .informationUser__infor__list {
            padding: 10px;
            width: 80%;
            height: 95px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            p {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            span {
              color: #767f8c;
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
            }
          }
        }
      }
      .informationUser__contain__right__item {
        width: 100%;
        height: 146px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cccccc;
        position: relative;
        padding: 30px 30px 30px 30px;
        img {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          color: #000000;
        }
        input {
          width: 90%;
          font-size: 18px;
          border: none;
        }
        input::placeholder {
          color: #767f8c80;
        }
      }
    }
  }
}
