
body::-webkit-scrollbar {
  display: none;
}
body {
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
    width: 1440px;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      width: 100vw;
      
  }
  @media screen and (max-width: 576px) {
      width: 100vw;
      
  }
  }
  .user-ListJob-findJob {
    display: flex;
    width: 91%;
    height: 72px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.314);
    margin-bottom: 50px;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      display: inline-block;
      width: 100vw;
      border: none;
  }
  @media screen and (max-width: 576px) {
      display: inline-block;
      width: 100vw;
      border: none;
      
  }
    .user-ListJob-findJob-input {
        width: 576px;
        height: 48px;
        border-radius: 5px;
        display: flex;
        padding: 16px;
        @media screen and (min-width: 576px) and (max-width: 768px) {
          margin-bottom: 30px;
          width: 100vw;
      }
      @media screen and (max-width: 576px) {
          width: 100vw;
          margin-bottom: 30px;
          
      }
        i {
            margin-top: 5px;
            font-size: 24px;
            color: rgba(255, 0, 0, 0.852);
            margin-right: 10px;
        }

        input {
            padding: 5px;
            height: 40px;
            width: 310px;
            border: none;
            color: gray;
            font-size: 16px;
        }
    }

    .user-ListJob-findJob-local {
        width: 425px;
        height: 48px;
        border-radius: 5px;
        margin-left: 3px;
        padding: 12px;
        @media screen and (min-width: 576px) and (max-width: 768px) {
          width: 100vw;
          margin-bottom: 20px;
          border: 1px solid rgba(128, 128, 128, 0.314);
          height: 72px;
        border: none;

      }
      @media screen and (max-width: 576px) {
          width: 100vw;
          margin-bottom: 20px;
          border: 1px solid rgba(128, 128, 128, 0.314);
          height: 72px;
        border: none;
          
      }
        i {
            margin-top: 5px;
            font-size: 24px;
            color: rgba(255, 0, 0, 0.852);
            margin-right: 10px;
        }

        select {
            width: 200px;
            height: 40px;
            font-size: 16px;
            color: gray;
            border: none;
            @media screen and (min-width: 576px) and (max-width: 768px) {
              width: 200x;
              
          }
        }
    }

    .user-ListJob-findJob-filter {
        border-radius: 3px;
        display: flex;
        width: 135px;
        height: 48px;
        padding: 10px;
        padding-left: 25px;
        background-color: #F1F2F4;
        margin-right: 12px;
        margin-top: 12px;

        i {
            font-size: 18px;
            margin-right: 10px;
            margin-top: 5px;

        }

        p {
            font-size: 20px;
        }
    }

    .user-ListJob-findJob-btn {
        width: 115px;
        height: 48px;
        border-radius: 3px;
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        margin-top: 12px;
        border: none;
        background-color: #BC2228;
        color: #F1F2F4;
        @media screen and (min-width: 576px) and (max-width: 768px) {
          position: absolute;
          margin-top: -48px;
          margin-left: 150px;
      }
      @media screen and (max-width: 576px) {
          position: absolute;
          margin-top: -48px;
          margin-left: 150px;
          
      }
    }
}
  .user-ListCompany{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      width: 100%;
      justify-content: space-evenly;
      margin-top: 30px;
  }
  @media screen and (max-width: 576px) {
      margin-top: 30px;
      width: 100vw;
      justify-content: center;
      
  }
   .user-ListCompany-company{
    width: 425px;
    border: 1px solid rgba(128, 128, 128, 0.319);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    @media screen and (min-width: 576px) and (max-width: 768px) {
      width: 255px;
  };
   @media screen and (max-width: 576px) {
    width: 425px !important;
    justify-content: center;
   }
    .user-ListCompany-company-info{
      display: flex;
      margin-bottom: 22px;
      img{
        width: 56px;
        height: 56px;
        border-radius: 3px;
        margin-right:16px ;
      }
      p{
        font-size: 14px;
        opacity: 0.6;
      }
      .user-ListCompany-company-info-nameCompany{
        font-size: 20px;
        opacity: 1;
        margin-right: 8px;
      }
      .feature{
        display: inline-block;
         width: 83px;
        height: 26px;
        font-size: 14px;
        font-style:italic;
        padding: 3px 12px;
        border-radius: 52px;
        background-color: #FCEEEE;
        color:#E05151;
      };
    }
    .user-ListCompany-company-open{
        width: 376px;
        height: 48px;
        background-color: #E7F0FA;
        color: #0A65CC;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding-top: 12px;
        border-radius: 3px;
        @media screen and (min-width: 576px) and (max-width: 768px) {
          width: 200px;
      };
      @media screen and (max-width: 576px) {
        width: 376px;
        
      }
    }
   }
  }